.button {
  background: var(--button-bg--primary);
  color: var(--button-fg--primary);
  border: 2px solid var(--button-brd--primary);
  padding: 8px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  z-index: 2;
}
