.skip-link {
  position: absolute;
  top: $size--400;
  left: $size--400;
  z-index: 99;

  // @extends should be used with care, but this is a great example of them being hella useful
  &:not(:focus) {
    @extend .visually-hidden;
  }
}
