body {
  color: $main-fg;
  background: $main-bg;
  height: 100vh;
  margin: 0;
}

/* Hide scrollbars in windows */

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox (not sure if that works) */
}
