<button type="button" class="burger" aria-expanded="false" aria-haspopup="true" aria-label="Toggle navigation" aria-controls="top-nav">
  <div class="burger__icon" aria-hidden="true">
    <span></span>
    <span></span>
    <span></span>
  </div>
</button>